<nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a>
                <button ng-click="ctrl.goBack()">Back</button>
            </a>
            <a class="navbar-brand" ui-sref="#">AngularJS 1.5</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="projects">Projects</a></li>
            <li><a ui-sref="books">Books</a></li>
            <li><a href="login">Logout</a></li>
        </ul>
    </nav>