<div class="row">
    <div class="col-md-3" style="text-align:center">
        <img class=img-circle width="50" height="50" ng-src={{ctrl.book.avatar_url}}>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2"><strong>Book Title:</strong></div>
            <div class="col-md-10">{{ctrl.book.login}}</div>
            
            <div class="col-md-2"><strong>Author:</strong></div>
            <div class="col-md-10">{{ctrl.book.location}}</div>
            
            <div class="col-md-2"><strong>Gendre:</strong></div>
            <div class="col-md-10">{{ctrl.book.id}}</div>

            <div class="col-md-2"><strong>Litterature:</strong></div>
            <div class="col-md-10">{{ctrl.book.name}}</div>

            <div class="col-md-2"><strong>Language:</strong></div>
            <div class="col-md-10">{{ctrl.book.type}}</div>

            <div class="col-md-2"><strong>Page Number:</strong></div>
            <div class="col-md-10">{{ctrl.book.following}}</div>

            <div class="col-md-2"><strong>Copies:</strong></div>
            <div class="col-md-10">{{ctrl.book.followers}}</div> 
        </div>
    </div>
</div>